h1{
    text-align: center;
    color: crimson;
}

div.contenedor{
    border: 3px dashed greenyellow;
    width: 30%;
    height: 100px;
    margin: auto;
    /*overflow: visible; visible is default value*/
    /*overflow: hidden;*/
    /*overflow: scroll;*/
    overflow: auto;
    /*overflow-y: auto;
    overflow-x: auto;*/
}
