body{
    background-color: dodgerblue;
    color: cornsilk;
    background-image: url("/Leccion\ 05/img/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment: fixed;
    background: dodgerblue url("/Leccion\ 05/img/fondo.png") no-repeat right top;*/
}

h1{
    text-align: center;
    background-color: dodgerblue;
}